<div class="py-12 bg-white">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2 class="text-lg leading-6 font-semibold text-gray-700 uppercase tracking-wider">
        Trasparencia
      </h2>
      <p
        class="mt-2 text-3xl leading-9 font-extrabold text-gradient bg-orange-full bg-animation sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none pb-3">
        De nuestro accionar como partido <br>político y de nuestras finanzas.
      </p>
      <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
        Queremos devolver el honor de ser elegidos por la ciudadanía para entre todos construir un futuro mejor.
      </p>
    </div>

    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
      <div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-4">
        <div class="bg-white overflow-hidden shadow-2xl rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            <div class="flex items-center">
              <div class="flex-shrink-0 bg-orange rounded-md p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <line x1="18" y1="1" x2="6" y2="13" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                  <polyline points="15 13 6 13 6 4" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <text x="50%" y="65%" stroke="#fff" text-anchor="middle" letter-spacing="1" dy=".9em" class="font-sans" font-size="0.5em" font-weight="normal">UYU</text>
                </svg>
              </div>
              <div class="ml-5 w-0 flex-1">
                <dl>
                  <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
                    Ingresos en pesos
                  </dt>
                  <dd class="flex items-baseline">
                    <div class="text-2xl leading-8 font-semibold text-gray-900 loading" id="ingresos-uyu">
                      Cargando...
                    </div>
                    <div class="d-none ml-2 flex items-baseline text-sm leading-5 font-semibold text-green-600 hidden" id="stat-ingresos-uyu">
                      <svg class="self-center flex-shrink-0 h-5 w-5 text-green-500" fill="currentColor"
                        viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                          d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <span class="sr-only">
                        Increased by
                      </span>
                      122
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-4 sm:px-6">
            <div class="text-sm leading-5">
              <a href="#" class="font-medium text-orange hover:text-indigo-500 transition ease-in-out duration-150">
                Ver todo
              </a>
            </div>
          </div>
        </div>
        <div class="bg-white overflow-hidden shadow-2xl rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            <div class="flex items-center">
              <div class="flex-shrink-0 bg-orange rounded-md p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <line x1="6" y1="13" x2="18" y2="1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                  <polyline points="9 1 18 1 18 10" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <text x="50%" y="65%" stroke="#fff" text-anchor="middle" letter-spacing="1" dy=".9em" class="font-sans" font-size="0.5em" font-weight="normal">UYU</text>
                </svg>
              </div>
              <div class="ml-5 w-0 flex-1">
                <dl>
                  <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
                    Egresos en pesos
                  </dt>
                  <dd class="flex items-baseline">
                    <div class="text-2xl leading-8 font-semibold text-gray-900 loading" id="egresos-uyu">
                      Cargando...
                    </div>
                    <div class="d-none ml-2 flex items-baseline text-sm leading-5 font-semibold text-green-600 hidden" id="stat-egresos-uyu">
                      <svg class="self-center flex-shrink-0 h-5 w-5 text-green-500" fill="currentColor"
                        viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                          d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <span class="sr-only">
                        Increased by
                      </span>
                      5.4%
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-4 sm:px-6">
            <div class="text-sm leading-5">
              <a href="#" class="font-medium text-orange hover:text-indigo-500 transition ease-in-out duration-150">
                Ver todo
              </a>
            </div>
          </div>
        </div>
        <div class="bg-white overflow-hidden shadow-2xl rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            <div class="flex items-center">
              <div class="flex-shrink-0 bg-orange rounded-md p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <line x1="18" y1="1" x2="6" y2="13" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                  <polyline points="15 13 6 13 6 4" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <text x="50%" y="65%" stroke="#fff" text-anchor="middle" letter-spacing="1" dy=".9em" class="font-sans" font-size="0.5em" font-weight="normal">USD</text>
                </svg>
              </div>
              <div class="ml-5 w-0 flex-1">
                <dl>
                  <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
                    Ingresos en dólares
                  </dt>
                  <dd class="flex items-baseline">
                    <div class="text-2xl leading-8 font-semibold text-gray-900 loading" id="ingresos-usd">
                      Cargando...
                    </div>
                    <div class="d-none ml-2 flex items-baseline text-sm leading-5 font-semibold text-red-600 hidden" id="stat-ingresos-usd">
                      <svg class="self-center flex-shrink-0 h-5 w-5 text-red-500" fill="currentColor"
                        viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                          d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <span class="sr-only">
                        Decreased by
                      </span>
                      3.2%
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-4 sm:px-6">
            <div class="text-sm leading-5">
              <a href="#" class="font-medium text-orange hover:text-indigo-500 transition ease-in-out duration-150">
                Ver todo
              </a>
            </div>
          </div>
        </div>
        <div class="bg-white overflow-hidden shadow-2xl rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            <div class="flex items-center">
              <div class="flex-shrink-0 bg-orange rounded-md p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <line x1="6" y1="13" x2="18" y2="1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                  <polyline points="9 1 18 1 18 10" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <text x="50%" y="65%" stroke="#fff" text-anchor="middle" letter-spacing="1" dy=".9em" class="font-sans" font-size="0.5em" font-weight="normal">USD</text>
                </svg>
              </div>
              <div class="ml-5 w-0 flex-1">
                <dl>
                  <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
                    Egresos en dólares
                  </dt>
                  <dd class="flex items-baseline">
                    <div class="text-2xl leading-8 font-semibold text-gray-900 loading" id="egresos-usd">
                      Cargando...
                    </div>
                    <div class="d-none ml-2 flex items-baseline text-sm leading-5 font-semibold text-red-600 hidden" id="stat-egresos-usd">
                      <svg class="self-center flex-shrink-0 h-5 w-5 text-red-500" fill="currentColor"
                        viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                          d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <span class="sr-only">
                        Decreased by
                      </span>
                      3.2%
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-4 sm:px-6">
            <div class="text-sm leading-5">
              <a href="#" class="font-medium text-orange hover:text-indigo-500 transition ease-in-out duration-150">
                Ver todo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>