<div x-data="{ show: JSON.parse(localStorage.getItem('PD_notice_show')) === null }" x-show="show" class="relative bg-orange-900">
  <div class="max-w-screen-xl mx-auto py-2 px-3 sm:px-6 lg:px-8">
    <div class="pr-16 sm:text-center sm:px-16">
      <p class="font-medium text-white">
        <span class="md:hidden">
          Caso Sr. Daniel Goldman Pérez - 
        </span>
        <span class="hidden md:inline">
          Blog: Cronología de hechos del caso Sr. Daniel Goldman Pérez
        </span>
        <span class="inline sm:ml-2 sm:inline-block">
          <a href="#" class="text-white font-bold underline">
            Leer →
          </a>
        </span>
      </p>
    </div>
    <div class="absolute inset-y-0 right-0 pr-1 flex items-start sm:pr-2 sm:items-start">
      <button x-on:click="show= false; localStorage.setItem('PD_notice_show', false)" type="button" class="flex p-2 rounded-md hover:bg-orange-700 focus:outline-none focus:bg-orange-700 transition ease-in-out duration-150" aria-label="Dismiss">
        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>
</div>