---
---
@tailwind base;

@tailwind components;

@tailwind utilities;

.text-gradient {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.bg-animation {
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav.scrolled {
    @apply shadow-2xl;
    border-bottom: 0px;
}