<div class="bg-gray-100 dark:bg-gray-900">
  <div class="lg:flex lg:items-center lg:px-0 lg:text-left max-w-screen-lg md:text-center mx-auto px-10 py-12 relative">
    <div class="lg:w-0 lg:flex-1">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-blue-900 sm:text-4xl sm:leading-10 dark:text-gray-500" id="newsletter-headline">
        También podes subscribirte
      </h2>
      <p class="mt-3 max-w-3xl text-lg leading-6 text-gray-700 dark:text-gray-100">
        Así podés obtener en tu correo las últimas novedades del Partido Digital, y manejar qué tipo de noticias queres recibir.
      </p>
    </div>
    <div class="flex flex-col justify-center lg:ml-8 lg:mt-0 mt-8">
      <!--<form class="sm:flex sm:justify-center" aria-labelledby="newsletter-headline">
        <input aria-label="Email address" type="email" required="" class="appearance-none w-full px-5 py-3 border border-transparent text-base leading-6 rounded-md text-gray-900 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 transition duration-150 ease-in-out sm:max-w-xs" placeholder="Ingresa tu correo">
        <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
          <button class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-orange-500 hover:bg-orange-300 focus:outline-none focus:bg-orange-500 transition duration-150 ease-in-out">
            Subscribirme
          </button>
        </div>
      </form>-->
      <form class="newsletter-form sm:flex sm:justify-center dark:bg-gray-700">
        <input type="email" placeholder="Correo electrónico" class="rounded-tl rounded-bl w-full dark:bg-gray-700" />
        <button>
            <span class="default">Subscribirme</span>
            <span class="success">
                <svg viewBox="0 0 16 16">
                    <polyline points="3.75 9 7 12 13 5"></polyline>
                </svg>¡Listo!
            </span>
            <svg class="trails" viewBox="0 0 33 64">
                <path d="M26,4 C28,13.3333333 29,22.6666667 29,32 C29,41.3333333 28,50.6666667 26,60"></path>
                <path d="M6,4 C8,13.3333333 9,22.6666667 9,32 C9,41.3333333 8,50.6666667 6,60"></path>
            </svg>
            <div class="plane">
                <div class="left"></div>
                <div class="right"></div>
            </div>
        </button>
      </form>
      <p class="text-sm leading-5 text-gray-500 dark:text-gray-200">
        Nos importa la privacidad de tus datos. Lee nuestra
        <a href="/documentos/politica-de-privacidad" class="text-orange-500 font-medium underline">
          Política de Privacidad</a>.
      </p>
    </div>
  </div>
</div>