<div class="bg-gray-100 dark:bg-gray-900">
  <div class="lg:flex lg:items-center lg:px-0 lg:text-left max-w-screen-lg md:text-center mx-auto px-10 py-12 relative">
    <div class="lg:w-0 lg:flex-1">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-blue-900 sm:text-4xl sm:leading-10 dark:text-gray-500" id="newsletter-headline">
        También podés subscribirte
      </h2>
      <p class="mt-3 max-w-3xl text-lg leading-6 text-gray-700 dark:text-gray-100">
        Así podés obtener en tu correo las últimas novedades del Partido Digital, y manejar qué tipo de noticias queres recibir.
      </p>
    </div>
    <div class="flex flex-col justify-center lg:ml-8 lg:mt-0 mt-8">
      <form class="newsletter-form sm:flex sm:justify-center dark:bg-gray-700">
        <input type="email" placeholder="Correo electrónico" class="rounded-tl rounded-bl w-full dark:bg-gray-700 bg-white" />
        <button>
            <span class="default">Subscribirme</span>
            <span class="success">
                <svg viewBox="0 0 16 16">
                    <polyline points="3.75 9 7 12 13 5"></polyline>
                </svg>¡Listo!
            </span>
            <svg class="trails" viewBox="0 0 33 64">
                <path d="M26,4 C28,13.3333333 29,22.6666667 29,32 C29,41.3333333 28,50.6666667 26,60"></path>
                <path d="M6,4 C8,13.3333333 9,22.6666667 9,32 C9,41.3333333 8,50.6666667 6,60"></path>
            </svg>
            <div class="plane">
                <div class="left"></div>
                <div class="right"></div>
            </div>
        </button>
      </form>
      <p class="text-sm leading-5 text-gray-500 dark:text-gray-200">
        Nos importa la privacidad de tus datos. Leé nuestra
        <a href="{{site.url}}/documentos/politica-de-privacidad" class="text-orange-500 font-medium underline">
          Política de Privacidad</a>.
      </p>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/scripts/jquery.ajaxchimp.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.langs.js"></script>
<script type='text/javascript' src='{{site.url}}/assets/scripts/newsletter.js'></script>