<div class="bg-blue-900 dark:bg-black" id="participacion">
  <div class="pt-12 px-4 sm:px-6 lg:px-8 lg:pt-20">
    <div class="text-center">
      <h2 class="text-lg leading-6 font-semibold text-gray-300 uppercase tracking-wider">
        Participación
      </h2>
      <p class="mt- text-3xl leading-9 font-extrabold bg-gradient-to-r from-orange-300 text-transparent bg-clip-text to-orange-700 via-orange-500 sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none pb-3">
        Existen dos maneras de poder participar<br> en las iniciativas del Partido Digital
      </p>
      <p class="mt-3 max-w-4xl mx-auto text-xl leading-7 text-gray-300 sm:mt-5 sm:text-2xl sm:leading-8">
        La participación es uno de nuestros pilares fundamentales, por lo que de una forma u otra, vas a poder
          participar y ser parte de este movimiento de cambio en la política de Uruguay.
      </p>
    </div>
  </div>

  <div class="mt-16 lg:bg-white lg:dark:bg-black pb-12 lg:mt-20 lg:pb-20">
    <div class="relative z-0">
      <div class="absolute inset-0 sm:h-full sm:mb-10 md:h-5/6 bg-blue-900 dark:bg-black lg:h-2/3"></div>
      <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative lg:grid lg:grid-cols-7">
          <div class="mx-auto max-w-md lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3">
            <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-l-lg border dark:border-gray-800">
              <div class="flex-1 flex flex-col">
                <div class="bg-white px-6 py-6 text-center dark:bg-gray-900">
                  <div>
                    <h3 class="text-center text-2xl leading-8 font-medium text-blue-900 dark:text-gray-200" id="tier-scale">
                      Simpatizantes
                    </h3>
                    <div class="mt-4 flex items-center justify-center">
                      <span class="px-3 flex items-start text-4xl leading-none tracking-tight text-blue-900 dark:text-gray-200">
                        <span class="font-extrabold">
                          Sumate al Partido Digital
                        </span>
                      </span>
                    </div>
                    <p class="mt-5 text-lg leading-7 font-medium text-gray-500 dark:text-gray-400">
                      De acceso libre
                    </p>
                  </div>
                </div>
                <div class="flex-1 flex flex-col justify-between p-6 bg-gray-50 dark:bg-black sm:p-10 lg:p-6 xl:p-10">
                  <ul>
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500 dark:text-green-300" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                        Colaborá para lograr los objetivos del partido
                      </p>
                    </li>
                    <li class="mt-4 flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500 dark:text-green-300" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                        Sumate a equipos de trabajo
                      </p>
                    </li>
                    <li class="mt-4 flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500 dark:text-green-300" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                        Lidera acciones del partido
                      </p>
                    </li>
                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg">
                      <a href="{{site.url}}/sumate" class="block w-full text-center rounded-lg border border-orange-500 bg-white dark:bg-black px-6 py-3 text-base leading-6 font-medium text-orange-500 hover:bg-orange-100 focus:outline-none focus:shadow-outline transition ease-in-out duration-150">
                        Sumarme
                      </a>
                    </div>
                    <p class="mt-5 text-sm text-center">
                      <a href="{{site.url}}/sobre-participacion/#simpatizantes-sumate-al-partido-digital" class="transition ease-in-out text-gray-400 dark:bg-black duration-150 hover:text-orange-500">
                        Conocer más
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-10 max-w-lg mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4">
            <div class="relative z-10 rounded-lg shadow-xl border-2 border-orange-700">
              <div class="bg-white rounded-t-lg px-6 pb-6 pt-8 text-center dark:bg-gray-900">
                <div>
                  <h3 class="text-center text-2xl leading-8 font-medium text-blue-900 dark:text-gray-200" id="tier-scale">
                    Ciudadanos
                  </h3>
                  <div class="mt-4 flex items-center justify-center">
                    <span class="px-3 flex items-start text-4xl leading-none tracking-tight text-blue-900 dark:text-gray-200">
                      <span class="font-extrabold">
                        Hacé tu propuesta para mejorar Uruguay
                      </span>
                    </span>
                  </div>
                  <p class="mt-5 text-lg leading-7 font-medium text-gray-500 dark:text-gray-400">
                    De acceso libre
                  </p>
                </div>
              </div>
              <div class="rounded-b-lg pt-10 pb-8 px-6 bg-gray-50 sm:px-10 sm:py-10 dark:bg-black">
                <ul>
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <svg class="h-6 w-6 text-green-500 dark:text-green-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                      </svg>
                    </div>
                    <p class="ml-3 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                      Mantené un contacto estrecho con otros actores de la sociedad
                    </p>
                  </li>
                  <li class="mt-4 flex items-start">
                    <div class="flex-shrink-0">
                      <svg class="h-6 w-6 text-green-500 dark:text-green-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                      </svg>
                    </div>
                    <p class="ml-3 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                      Proponé mejoras a nivel país y obtené feedback
                    </p>
                  </li>
                  <li class="mt-4 flex items-start">
                    <div class="flex-shrink-0">
                      <svg class="h-6 w-6 text-green-500 dark:text-green-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                      </svg>
                    </div>
                    <p class="ml-3 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                      Mejora las propuestas de otros participantes
                    </p>
                  </li>
                  <li class="mt-4 flex items-start">
                    <div class="flex-shrink-0">
                      <svg class="h-6 w-6 text-green-500 dark:text-green-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                      </svg>
                    </div>
                    <p class="ml-3 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                      Construye el Programa de Gobierno del Partido Digital
                    </p>
                  </li>
                </ul>
                <div class="mt-10">
                  <div class="rounded-lg shadow-md">
                    <a href="https://mivoz.uy" class="block w-full text-center rounded-lg border border-transparent bg-orange-500 px-6 py-4 text-xl leading-6 font-medium text-white hover:bg-orange-700 focus:outline-none focus:border-orange-900 focus:shadow-outline-orange transition ease-in-out duration-150" aria-describedby="tier-growth">
                      Participar
                    </a>
                  </div>
                  <p class="mt-5 text-sm text-center">
                    <a href="{{site.url}}/sobre-participacion/#ciudadanos-hac%C3%A9-tu-propuesta-para-mejorar-uruguay" class="transition ease-in-out text-gray-400 dark:bg-black duration-150 hover:text-orange-500">
                      Conocer más
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-10 mx-auto max-w-md lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3">
            <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-r-lg border dark:border-gray-800">
              <div class="flex-1 flex flex-col">
                <div class="bg-white px-6 py-6 text-center dark:bg-gray-900">
                  <div>
                    <h3 class="text-center text-2xl leading-8 font-medium text-blue-900 dark:text-gray-200" id="tier-scale">
                      Afiliados
                    </h3>
                    <div class="mt-4 flex items-center justify-center">
                      <span class="px-3 flex items-start text-4xl leading-none tracking-tight text-blue-900 dark:text-gray-200">
                        <span class="font-extrabold">
                          Construí el Partido Digital
                        </span>
                      </span>
                    </div>
                    <p class="mt-5 text-lg leading-7 font-medium text-gray-500 dark:text-gray-400">
                      A través de registro y cuota voluntaria de afiliación.
                    </p>
                  </div>
                </div>
                <div class="flex-1 flex flex-col justify-between p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10 dark:bg-black">
                  <ul>
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500 dark:text-green-300" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                        Participar en la selección de los candidatos
                      </p>
                    </li>
                    <li class="mt-4 flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500 dark:text-green-300" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                        Discutir sobre posiciones políticas del partido
                      </p>
                    </li>
                    <li class="mt-4 flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500 dark:text-green-300" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                        Ser elector y elegible para integrar órganos partidarios
                      </p>
                    </li>
                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg">
                      <a href="{{site.url}}/afiliaciones" class="block w-full text-center rounded-lg border border-orange-500 bg-white dark:bg-black px-6 py-3 text-base leading-6 font-medium text-orange-500 hover:bg-orange-100 focus:outline-none focus:shadow-outline transition ease-in-out duration-150">
                        Afiliarme
                      </a>
                    </div>
                    <p class="mt-5 text-sm text-center">
                      <a href="{{site.url}}/sobre-participacion/#afiliados-constru%C3%AD-el-partido-digital" class="transition ease-in-out text-gray-400 dark:bg-black duration-150 hover:text-orange-500">
                        Conocer más
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>